.idea/
*.zip
*.rar
*.log
.svn
.DS_Store
.com.apple.timemachine.supported
node_modules
.temp

dist/
release/
doc/
platforms/android/.gradle/
platforms/android/app/build/
platforms/android/build/
platforms/ios/build/